Requirements

Python > 2.5 (tested using 2.6)

Scapy 2.2 
	Including the community contributed additions!
	The development edition is recommended

Sqlite 3

Python libraries:
	reportlab
    	python-dev
	python-imaging
	python-netaddr


build-essential, libfreetype6-dev,
